<header>
  <figure (click)="scrollToSection(0)">
    <img src="images/air_logo.png" alt="Logo Site">
  </figure>
  <nav>
    <ul>
      <li><a (click)="scrollToSection(1)">Produtos</a></li>
      <li *ngIf="innerWidth >= 768"><a (click)="scrollToSection(2)">Preços e Condições</a></li>
      <li *ngIf="innerWidth >= 768"><a (click)="scrollToSection(3)">Parcerias</a></li>
      <li><a (click)="scrollToSection(4)">Contato</a></li>
    </ul>
  </nav>
</header>
<main>
  <div class="full-page" [style]="scrollPage">
    <section id="principal">
      <h1 class="mt-5">Encontre o próximo <br> ar-condicionado para você e para sua empresa</h1>
      <div class="img-principal">
        <div class="imagem-fundo"></div>
      </div>
      <a class="btn-proximo" (click)="scrollDown()">
        <i class="pi pi-chevron-down"></i>
      </a>
    </section>
    <section id="produtos">
      <h2 class="mt-3">Trabalhamos com as melhores marcas e melhores equipamentos</h2>
      <div class="carousel-wrapper">
        <p-carousel [value]="brandsCarousel" [numVisible]="1" [numScroll]="1" [circular]="true"
          [responsiveOptions]="responsiveCarouselOptions" [autoplayInterval]="4000">
          <ng-template let-product pTemplate="item">
            <div class="display-item">
              <div class="mb-3">
                <div class="relative mx-auto img-logo-wrapper">
                  <img class="img-logo border-round" [src]="product.image" [alt]="product.name" />
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <h4 class="mt-5">Consultoria Técnica Especializada</h4>
      <p>
        Nossa equipe técnica está preparada para orientar na escolha do melhor
        sistema de ar condicionado, considerando todos os fatores do seu projeto e
        necessidades específicas de climatização
      </p>
      <p *ngIf="innerWidth >= 768">
        <span>
          Para seu lar, oferecemos uma seleção de ar condicionados split e multi-split,
          conhecidos pela operação silenciosa e design elegante, que se integra
          perfeitamente à decoração do ambiente
        </span>
        <span>
          Já para o setor comercial, a diversidade de opções é fundamental,
          por isso, disponibilizamos os sistemas de ar condicionado cassete e piso-teto,
          que oferecem uma distribuição uniforme do ar em espaços amplos
        </span>
      </p>
    </section>
    <section id="precos">
      <h2 class="mt-3">Encontre os melhores preços e condições de compra!</h2>
      <h3 class="mt-5"><i class="pi pi-dollar"></i>  Preços</h3>
      <p>
        <span>
          Graças às nossas parcerias com fabricantes e distribuidores de renome, conseguimos oferecer preços
          competitivos e condições especiais de pagamento.
        </span>
      </p>
      <h3 class="mt-5"><i class="pi pi-crown"></i>  Promoções</h3>
      <p>
        <span>
          Fique atento às nossas promoções e ofertas especiais!
          Regularmente, disponibilizamos descontos sazonais, que podem tornar a
          compra de seu ar condicionado ainda mais vantajosa.
          Essas promoções são uma excelente oportunidade para adquirir
          equipamentos de ponta por preços ainda mais acessíveis
        </span>
      </p>
    </section>
    <section id="parcerias">
      <h2 class="mt-3">Parcerias com os melhores revendedores do mercado!</h2>
      <p [ngClass]="{'mt-5': innerWidth < 768}">
        <span *ngIf="innerWidth < 768">
          Nossos parceiros são revendedores autorizados de diversas marcas,
          possuindo uma grande variedade de equipamentos e condições para compra,
          além de facilitar o processo de entrega e acionamento de garantias.
        </span>
        <span *ngIf="innerWidth >= 768">
          Nossos parceiros são de grande impacto no mercado, possuindo uma grande variedade
          de equipamentos e condições para compra.
        </span>
      </p>
      <div class="carousel-wrapper">
        <p-carousel
          [value]="partnersCarousel"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
          [responsiveOptions]="responsiveCarouselOptions"
          [autoplayInterval]="0"
          [showIndicators]="false"
        >
          <ng-template let-partner pTemplate="item">
            <div class="item-parceiro" [ngStyle]="{'background-color': partner.baseColor, 'border-color': partner.borderColor}">
              <div class=" img-logo-wrapper">
                <img class="img-logo" [src]="partner.image" [alt]="partner.name" />
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div class="parceiros-images" *ngIf="innerWidth >= 768">
        <img class="img-logo border-round" src="images/parceiros/adias.jfif" alt="Adias" />
        <img class="img-logo border-round" src="images/parceiros/bonshop.jpg" alt="Bonshop" />
        <img class="img-logo border-round" src="images/parceiros/centralar.jfif" alt="CentralAr" />
        <img class="img-logo border-round" src="images/parceiros/dufrio.jpg" alt="Dufrio" />
        <img class="img-logo border-round" src="images/parceiros/frigelar.png" alt="Frigelar" />
      </div>
      <p>
        <span *ngIf="innerWidth >= 768">
          Além, é claro, de serem revendedores autorizados de diversas marcas, o que facilita
          no processo de entrega e acionamento de garantias.
        </span>
      </p>
    </section>
    <section id="contato">
      <h2 class="mt-5">Ficou interessado? Entre em contato e saiba mais!</h2>
      <div class="contato-wrapper">
        <a href="mailto:rogerionava@gmail.com">
          <img src="images/logo-mail.webp" alt="Logo Mail">
        </a>
        <a href="https://wa.me//5511959289544?text=Olá!%20Gostaria%20de%20um%20orçamento%20de%20ar-condicionado"
          target="_blank">
          <img src="images/logo-whatsapp.png" alt="Logo Whatsapp">
        </a>
      </div>
      <div class="footer">
        <span>ConsultAr | 2023 - 2024</span>
        <span>Desenvolvido por: <a href="https://www.linkedin.com/in/silvaeduardrs/" target="_blank">silva.eduardrs</a></span>
      </div>
    </section>
  </div>
</main>
