<header>
  <figure (click)="scrollToSection(0)">
    <img src="images/air_logo.png" alt="Logo Site">
  </figure>
  <nav>
    <ul>
      <li><a (click)="scrollToSection(1)">Produtos</a></li>
      <li *ngIf="innerWidth >= 768"><a (click)="scrollToSection(2)">Preços e Condições</a></li>
      <li *ngIf="innerWidth >= 768"><a (click)="scrollToSection(3)">Parcerias</a></li>
      <li><a (click)="scrollToSection(4)">Contato</a></li>
    </ul>
  </nav>
</header>
<main>
  <div class="full-page" [style]="scrollPage">
    <section id="principal">
      <h1>Encontre o próximo <br> ar-condicionado para você e para sua empresa</h1>
      <a class="btn-proximo" (click)="scrollDown()">
        <i class="pi pi-chevron-down"></i>
      </a>
    </section>
    <section id="produtos">
      <h2>Trabalhamos com as melhores marcas e melhores equipamentos</h2>
      <div class="carousel-wrapper">
        <p-carousel [value]="brandsCarousel" [numVisible]="1" [numScroll]="1" [circular]="true"
          [responsiveOptions]="responsiveCarouselOptions" [autoplayInterval]="4000">
          <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
              <div class="mb-3">
                <div class="relative mx-auto img-logo-wrapper">
                  <img class="img-logo border-round" [src]="product.image" [alt]="product.name" />
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </section>
    <section id="precos">
      <h2>Encontre os melhores preços e condições de compra!</h2>
      <h3>Através dos nossos revendedores parceiros, encontraremos a opção ideal para seu orçamento </h3>
    </section>
    <section id="parcerias">
      <h2>Possuímos parcerias com os melhores revendedores do mercado!</h2>
      <h3>Nossos parceiros são de grande impacto no mercado, possuindo uma grande variedade de equipamentos e condições
        para compra.</h3>
      <h3>Além, é claro, de serem revendedores autorizados de diversas marcas, o que facilita no processo de entrega e
        acionamento de garantias.</h3>
    </section>
    <section id="contato">
      <h2>Ficou interessado? Entre em contato e saiba mais!</h2>
      <div class="contato-wrapper">
        <a href="mailto:rogerionava@gmail.com">
          <img src="images/logo-mail.webp" alt="Logo Mail">
        </a>
        <a href="https://wa.me//5511959289544?text=Olá!%20Gostaria%20de%20um%20orçamento%20de%20ar-condicionado"
          target="_blank">
          <img src="images/logo-whatsapp.png" alt="Logo Whatsapp">
        </a>
      </div>
    </section>
  </div>
</main>
<footer>
  <span>ConsultAr | 2023 - 2024</span>
  <span>Desenvolvido por: silva.eduardrs</span>
</footer>
