/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.mt-5 {
  margin-top: 5vh;
}



h1 {
  text-align: center;
  font-size: 10vw;
}

h2 {
  text-align: center;
  font-size: 8vw;
}

h3 {
  text-align: center;
  font-size: 7vw;
}

h4 {
  font-size: 5vw;
}

p {
  font-size: 5vw;
}
