/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.mt-3 {
  margin-top: 3vh;
}

.mt-5 {
  margin-top: 5vh;
}

.mt-10 {
  margin-top: 10vh;
}

h1 {
  text-align: center;
  font-size: 4vh;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 3.5vh;
  margin: 0;
}

h3 {
  text-align: center;
  font-size: 3vh;
  margin: 0;
}

h4 {
  font-size: 2.5vh;
  margin: 0;
}

p {
  font-size: min(2.5vh, 20px);
  font-weight: 500;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2.5vw;
  }
  h4 {
    font-size: 1.5vw;
  }
}
